<h2>SCORES</h2>

<table>
  <tr>
    <td>Name</td>
    <td><%= user.name%></td>
  </tr>

  <tr>
    <td>Email</td>
    <td><%= user.email%></td>
  </tr>
  <tr>
    <td>Points</td>
    <td><%= user.points%></td>
  </tr>

  <tr>
    <td>Answered questions</td>
    <td><%=totalNumberOfAnswers%></td>
  </tr>
  <tr>
    <td>Correct Answers</td>
    <td><%=correctAnswers%></td>
  </tr>
  <tr>
    <td>Wrong Answers</td>
    <td><%=wrongAnswers%></td>
  </tr>
</table>
